{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-5">
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<form method="POST" enctype="multipart/form-data" id="mainform">
				{% csrf_token %}
				<legend class="border-bottom mb-4">Create profile</legend>
				{{ form | crispy }}
				<button class="btn btn-outline-info btn-block mt-3" type="submit" id="submitbutton">Submit</button>
                                <script>
					var mf = document.getElementById("mainform");
					var subbutton = document.getElementById("submitbutton");
					mf.onsubmit = function() {
						openLoader();
						subbutton.remove();
					}
				</script>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
