{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}
{% load count %}
{% load humanize %}

{% block content %}

<style>
	.cool-div {
		{% if profile.customisation.text_shadow_color %}
		text-shadow: 0 0 5px {{ profile.customisation.text_shadow_color }}, 0 0 5px {{ profile.customisation.text_shadow_color }}, 0 0 5px {{ profile.customisation.text_shadow_color }};
		{% else %}
		text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
		{% endif %}
		{% if profile.customisation.banner_image %}
		background-image: url(https://media.glomble.com/{{ profile.customisation.banner_image.name }});
		{% endif %}
		{% if profile.customisation.background_color %}
		background-color: {{ profile.customisation.background_color }};
		{% else %}background-color: white;
		{% endif %}
		{% if profile.customisation.text_color %}
		color: {{ profile.customisation.text_color }};
		{% else %}
		color: #000000;
		{% endif %}
	}
	
	.cool-element {
		{% if profile.customisation.text_shadow_color %}
		text-shadow: 0 0 5px {{ profile.customisation.text_shadow_color }}, 0 0 5px {{ profile.customisation.text_shadow_color }}, 0 0 5px {{ profile.customisation.text_shadow_color }};
		{% else %}
		text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
		{% endif %}
		{% if profile.customisation.text_color %}
		color: {{ profile.customisation.text_color }};
		{% endif %}
	}
</style>

<div class="cool-div" style="min-height: 100vh;">
		<br>
        <img class="circular_image" style="display: block; margin-left: auto; margin-right: auto;" src="https://media.glomble.com/{{ pfp }}">
        <h1 class="text-center">{{ username }}</h1>
		<h4 class="text-center">
			{% if username.is_superuser %}
				<i title="Admin" class='bx bxs-user-badge' ></i>
			{% endif %}
			{% if developer %}
				<i title="developer" class='bx bxs-wrench' ></i>
			{% endif %}
			{% if creator %}
				<i title="Creator" class='bx bxs-palette' ></i>
			{% endif %}
			{% if supporter %}
				<i title="Patreon supporter" class='bx bxl-patreon' ></i>
			{% endif %}
		</h4>
        <h5 class="text-center">{{ info|linebreaksbr }}</h5>
		<div class="text-center">
			{% if username != user and user.moderator %}
			<a class="cool-element btn btn-outline-primary" href="{% url 'profile-update' poopie %}">Edit</a>
			{% elif username == user or user.is_superuser %}
			<h6><a class="cool-element btn btn-outline-primary" href="{% url 'profile-update' poopie %}">Edit</a>
			<a class="cool-element btn btn-outline-danger" href="{% url 'profile-delete' poopie %}">Delete</a></h6>
			{% endif %}
			{% if username == user %}
			<a class="cool-element btn btn-outline-success" href="{% url 'customise-profile' poopie %}">Customise page</a>
			{% endif %}
			{% if username != request.user %}
			<a class="video-icons icon-color cool-element" href="{% url 'profile-report' poopie %}"><i class='bx bxs-flag-alt' ></i></a>
			{% endif %}
			<p class="follow-count" id="{{ poopie }}">{{ follow_num }} followers</p>
			{% if request.user.is_authenticated %}
			{% if username != request.user %}
			{% following_eachother request.user username as fe %}
			{% following_you request.user username as fy %}
			{% if fe %}
			<b>(You are following each other)</b>
			{% elif fy %}
			<b>(Follows you)</b>
			{% endif %}
			<div class="follow-button-container">
				<button class="follow-button {% if is_following %}following cool-element btn cool-element btn-outline-danger {% else %}cool-element btn cool-element btn-outline-success {% endif %}" data-url-add="{% url 'add-follower' poopie %}" data-url-remove="{% url 'remove-follower' poopie %}">
					{% if is_following %}
					<span>Following</span>
					{% else %}
					<span>Follow</span>
					{% endif %}
				</button>
				{% if fe or request.user.is_superuser %}
					<a class="cool-element btn cool-element btn-outline-success" href="{% url 'chat-detail' poopie %}">Message</a>
				{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
		<br>
			<h3 class="text-center">Profile Rating: <span id="rating">{{ profile.rating|floatformat:1 }}</span></h3>
			{% if username != request.user %}
			<form id="rating-form" class="text-center" method="POST">
				{% csrf_token %}
				<select id="rating-select" name="rating">
					{% for i in '12345'|make_list %}
						<option value="{{ i }}" {% if i == current_user_rating %}selected{% endif %}>{{ i }} Star{% if i != '1' %}s{% endif %}</option>
					{% endfor %}
				</select>
				<button type="submit" class="cool-element btn cool-element btn-success">Submit Rating</button>
			</form>
			{% endif %}
		<div class="row justify-content-center mt-5">
			{% include 'videos/video_cards.html' %}
		</div>
</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% if username != user %}
	<script>
		document.getElementById('rating-form').addEventListener('submit', function (event) {
			event.preventDefault();
			const formData = new FormData(this);
			
			fetch("{% url 'rate-profile' profile.id %}", {
				method: "POST",
				headers: {
					"X-CSRFToken": "{{ csrf_token }}",
				},
				body: formData,
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					document.getElementById('rating').textContent = data.new_rating.toFixed(1);
				}
			});
		});
	</script>
	{% endif %}
{% endblock content %}
