{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}
{% load count %}
{% load humanize %}

{% block content %}

<div style="background-color: {{ profile.customisation.background_color }}; color: {{ profile.customisation.text_color }}; {% if profile.customisation.banner_image %} background-image: url({{ profile.customisation.banner_image.url }}); {% endif %}">
	<div class="container">
		{% if profile.customisation.banner_image %}
		{% endif %}
        <img class="circular_image" style="display: block; margin-left: auto; margin-right: auto; margin-top: 2em;" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ pfp }}">
        <h1 class="text-center">{{ username }}</h1>
		{% if profile.customisation.custom_html %}
		{{ profile.customisation.custom_html|safe }}
		{% endif %}
		<h4 class="text-center">
			{% if username.is_superuser %}
				<i title="Admin" class="fas fa-clipboard-user"></i>
			{% endif %}
			{% if developer %}
				<i title="Developer" class="fas fa-screwdriver-wrench"></i>
			{% endif %}
			{% if creator %}
				<i title="Creator" class="fas fa-palette"></i>
			{% endif %}
			{% if supporter %}
				<i title="Patreon supporter" class="fa-brands fa-patreon"></i>
			{% endif %}
		</h4>
        <h5 class="text-center">{{ info }}</h5>
		<div class="text-center">
			{% if username != user and user.moderator %}
			<h6><a class="video-icons icon-color" href="{% url 'profile-update' poopie %}"><ion-icon name="pencil-outline"></ion-icon></a>
			{% elif username == user or user.is_superuser %}
			<h6><a class="video-icons icon-color" href="{% url 'profile-update' poopie %}"><ion-icon name="pencil-outline"></ion-icon></a>
			<a class="video-icons icon-color" href="{% url 'profile-delete' poopie %}"><ion-icon name="close-outline"></ion-icon></a></h6>
			{% endif %}
			{% if username == user %}
			<a class="btn btn-outline-success" href="{% url 'customise-profile' poopie %}">Customise page</a>
			{% endif %}
			{% if username != request.user %}
			<a class="video-icons icon-color" href="{% url 'profile-report' poopie %}"><i class="fas fa-flag"></i></a>
			{% endif %}
			<p class="follow-count" id="{{ poopie }}">{{ follow_num }} followers</p>
			{% if request.user.is_authenticated %}
			{% if username != request.user %}
			{% following_eachother request.user username as fe %}
			{% following_you request.user username as fy %}
			{% if fe %}
			<b>(You are following each other)</b>
			{% elif fy %}
			<b>(Follows you)</b>
			{% endif %}
			<div class="follow-button-container">
				<button class="follow-button {% if is_following %}following btn btn-outline-danger {% else %}btn btn-outline-success {% endif %}" data-url-add="{% url 'add-follower' poopie %}" data-url-remove="{% url 'remove-follower' poopie %}">
					{% if is_following %}
					<span>Following</span>
					{% else %}
					<span>Follow</span>
					{% endif %}
				</button>
				{% if fe or request.user.is_superuser %}
					<a class="btn btn-outline-success" href="{% url 'chat-detail' poopie %}">Message</a>
				{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
		<br>
			<h3 class="text-center">Profile Rating: <span id="rating">{{ profile.rating|floatformat:1 }}</span></h3>
			{% if username != request.user %}
			<form id="rating-form" class="text-center" method="POST">
				{% csrf_token %}
				<select id="rating-select" name="rating">
					{% for i in '12345'|make_list %}
						<option value="{{ i }}" {% if i == current_user_rating %}selected{% endif %}>{{ i }} Star{% if i != '1' %}s{% endif %}</option>
					{% endfor %}
				</select>
				<button type="submit" class="btn btn-success">Submit Rating</button>
			</form>
			{% endif %}
		<div class="row justify-content-center">
			{% for object in detail_profile_list %}
			<div class="card mb-3 border-0" style="margin-right: 30px; margin-bottom: 30px; background-color: {{ object.uploader.customisation.background_color }};">
				<a href="{% url 'video-detail' object.id %}" class="position-relative" style="padding-top: 56.25%; overflow: hidden;">
					<img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.thumbnail }}" 
						 class="position-absolute w-100 h-100" 
						 style="top: 0; left: 0; object-fit: cover;">
				</a>
				<div class="card-body" style="{% if object.uploader.customisation.video_banner %} background-image: url({{ object.uploader.customisation.video_banner.url }}); {% endif %}">
					<a class="link-text" href="{% url 'video-detail' object.id %}"><h6 class="text-center shit">{{ object.title }}{% if object.unlisted %} <i title="Unlisted" class="fas fa-eye-slash"></i>{% endif %}</h6></a>
					<h6 class="text-muted text-center shit"><img class="rounded-circle" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.uploader.profile_picture }}"><a class="link-text" href="{% url 'detail-profile' object.uploader.id %}"> {{ object.uploader.username }}</a></h6>
					<h6 class="text-muted text-center">Views: {{ object.views.count }}</h6>
					<h6 class="text-muted text-center">Recommendations: {{ object.recommendations }}</h6>
					<h6 class="text-muted text-center">{{ object.date_posted|naturaltime }}</h6>
					<h6 class="text-muted text-center">{{ object.likes.all.count }} likes, {{ object.dislikes.all.count }} dislikes</h6>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function updateFollowCount(videoId) {
			// Send an AJAX request to update the view count
			$.ajax({
				type: "GET",
				url: `${videoId}/update-follow-count/`, // Update the URL accordingly
				success: function(data) {
					// Update the view count on the page
					$(".follow-count").text(data.follow_count + " followers");
				},
			});
		}

		$(document).ready(function() {
			var videoId = $(".follow-count").attr('id');
			var interval = setInterval(function() {
				updateFollowCount(videoId);
			}, 20000);
		});
	</script>
	<script>
		document.getElementById('rating-form').addEventListener('submit', function (event) {
			event.preventDefault();
			const formData = new FormData(this);
			
			fetch("{% url 'rate-profile' profile.id %}", {
				method: "POST",
				headers: {
					"X-CSRFToken": "{{ csrf_token }}",
				},
				body: formData,
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					document.getElementById('rating').textContent = data.new_rating.toFixed(1);
				}
			});
		});
	</script>
{% endblock content %}
