<h1>Greetings, Glomblers! A major update is now live on Glomble!</h1>

<p>
This update includes many improvements, optimizations, and features that have heavily been requested by you guys!
<br>
<br>
Here's the breakdown:
<br>
<br>
General:
<br>
-fixed 'sort by' resetting on new page
<br>
-The profiles tab now shows a user's most recent and most liked videos
<br>
-New UI icons
<br>
-improved searching for profiles and videos
<br>
-speed optimizations for resetting recommendations, liking videos/comments, reading chats, reading notifications, and opening profile pages.
<br>
<br>
Videos:
<br>
-Uploading and watching videos is now significantly faster!
<br>
-Video length is now shown on the video card
<br>
-Your watch progress in a video is now saved.  you can now leave a video and come back to it later with no hassle.
<br>
-When watching a video, the background now looks like the BG on the owner's profile
<br>
-You can now customize the color of the text on video cards
<br>
<br>
Comments/Text:
<br>
-Emojis are now available again, by popular demand
<br>
-Timestamps in comments and descriptions are now possible, by popular demand
<br>
-Newlines are now available for comments, video descriptions, and chat messages.  You can now tell that idiot how much of an idiot they are with paragraphs!
<br>
-You can now pin comments on videos.
<br>
-commenting no longer refreshes the page
<br>
<br>
Additionally, the site has continued to grow quite a bit.  We now have 295 users, over 700 videos!
<br>
<br>
We thank you for your patience, and we hope to continue seeing you guys around on our website!
<br>
<br>
<b>
<a href="https://glomble.com/">Glomble</a>
</b>
<br>
<br>
<i>
*emails are no longer monthly
</i>
</p>