{% extends 'profiles/base.html' %}
{% load current_profile %}
{% load count %}

{% block content %}
<div class="container">
    <h1 class="border-bottom text-center">Chats</h1>
    <div class="col-md-3 col-sm-12 mt-5 mb-3">
        <form method="get">
            <label for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                <option value="date-desc"{% if sort_by == 'date-desc' %} selected{% endif %}>Newest First</option>
                <option value="date-asc"{% if sort_by == 'date-asc' %} selected{% endif %}>Oldest First</option>
            </select>
        </form>
    </div>
        {% for chat in chat_list %}
        {% unread_messages request.user chat as unread_message_count %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative text-center">
                {% other_chatter chat request.user as chatter %}
                <p><a style="text-decoration: none;" class="link-text" href="{% url 'chat-detail' chatter.id %}">
                <img class="circular_image" src="https://media.glomble.com/{{ chatter.profile_picture }}">
                <h5>{{ chatter.username }}</h5></a></p>
                {% if unread_message_count > 0 %}
                <h4 class="text-center" style="color: red;">{{ unread_message_count }} unread message(s)</h2>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class='bx bxs-chevrons-left' ></i></a>
                    </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class='bx bxs-chevrons-left' ></i></span></li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                    </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class='bx bxs-chevrons-right' ></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class='bx bxs-chevrons-right' ></i></span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
