{% extends 'videos/base.html' %}
{% load current_profile %}
{% load count %}
{% load humanize %}

{% block content %}
<style>
    @media screen and (max-width: 980px) {
    .too_wide {
        display: none;
    }
    }
</style>
<div class="container">
    <div class="row justify-content-center mt-3">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{% if query != None %}{{ query }}{% endif %}">
                <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class='bx bx-search-alt' ></i></button>
            </div>
            <br>
            <label for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                <option value="followers-desc"{% if sort_by == 'followers-desc' %} selected{% else %} selected="selected"{% endif %}>Most Popular</option>
                <option value="ratings"{% if sort_by == 'ratings' %} selected{% endif %}>Highest Rated</option>
                <option value="date-desc"{% if sort_by == 'date-desc' %} selected{% endif %}>Newest First</option>
                <option value="date-asc"{% if sort_by == 'date-asc' %} selected{% endif %}>Oldest First</option>
            </select>
        </form>
    </div>
        {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            {% has_videos profile.id as should %}
            <div class="col-md-12 border-bottom position-relative text-center">
                {% if should %}
                <div style="float:left; width: 286px;" class="too_wide">
                    <h4>Most recent video:</h4>
                    {% most_recent_video profile.id as object_list %}
                    {% include 'videos/video_cards.html' %}
                </div>
                <div style="float:right; width: 286px;" class="too_wide">
                    <h4>Most liked video:</h4>
                    {% most_liked_video profile.id as object_list %}
                    {% include 'videos/video_cards.html' %}
                </div>
                {% else %}
                <div style="float:left; width: 286px;" class="too_wide">
                    <h4>No videos</h4>
                </div>
                <div style="float:right; width: 286px;" class="too_wide">
                    <h4>(yet)</h4>
                </div>
                {% endif %}
                <p><a style="text-decoration: none;" class="link-text" href="{% url 'detail-profile' profile.id %}">
                <img class="circular_image" src="https://media.glomble.com/{{ profile.profile_picture }}">
                <h5>{{ profile.username }}</h5></a></p>
                <p>{{ profile.followers.all.count }} Followers</p>
                <p>{{ profile.rating|floatformat:1 }} Stars</p>
            </div>
        </div>
        {% endfor %}
    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}"><i class='bx bxs-chevrons-left' ></i></a>
                    </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class='bx bxs-chevrons-left' ></i></span></li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}{% if query %}&query={{ query }}{% endif %}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">&hellip;</a>
                    </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}{% if query %}&query={{ query }}{% endif %}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'5' }}{% if query %}&query={{ query }}{% endif %}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}"><i class='bx bxs-chevrons-right' ></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class='bx bxs-chevrons-right' ></i></span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
