{% extends 'profiles/base.html' %}
{% load current_profile %}

{% block content %}
<div class="container">
    <h1 class="border-bottom text-center" style="width: 20em; margin-left: 3em; margin-top: 0.5em;">Profiles</h1>
    <div class="col-md-3 col-sm-12 mt-5 mb-3">
        <form method="get">
            <label for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                <option value="followers-desc"{% if sort_by == 'followers-desc' %} selected{% else %} selected="selected"{% endif %}>Most Popular</option>
                <option value="date-desc"{% if sort_by == 'date-desc' %} selected{% endif %}>Newest First</option>
                <option value="date-asc"{% if sort_by == 'date-asc' %} selected{% endif %}>Oldest First</option>
            </select>
        </form>
    </div>
        {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><a style="text-decoration: none;" class="link-text" href="{% url 'detail-profile' profile.id %}">
                <img class="circular_image" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ profile.profile_picture }}">
                <h5>*{{ profile.username }}</h5></a></p>
                <p>{{ profile.followers.all.count }} Followers</p>
            </div>
        </div>
        {% endfor %}
    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">Previous</a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
