<h1>Greetings, Glomblers!</h1>

<p>
It's about time for the monthly email, and boy, it's been very eventful these last few weeks!<br>
<br>
Our userbase absolutely EXPLODED from the 37 users last month, all the way to 230!  And our platform is now host to 339 videos unique videos.<br>
<br>
Glomble has also gotten some major upgrades over the last few weeks.  First was the recommendation system.  This one has been tweaked a fair bit already, but it's the recommend button.  You get three recommends that reset every 8 hours to promote videos that you enjoy.  You can split them up however you'd like, or even dump them all into one video if you just like it that much!<br>
<br>
Later we introduced video categories.  Now you can sort videos based on their subject matter instead of just based on likes or when the video was uploaded.  With the introduction of video categories, we also introduced some basic profile customization.  You can choose to color the background of your profile, or even put an image as your background.  You can also do the same for your video cards.  If you've been missing the fun, you'll find that Glomble is now a lot more colorful than it was before.  Let's see what kind of fun designs you can make!<br>
<br>
Along with profile customization, we also added the ability to rate fellow Glomblers out of five stars.  If there is a Glombler whose content you really enjoy, go and show them your appreciation by giving them a good score!  We've also made many plenty of other minor tweaks and improvements, especially in mobile friendliness.<br>
<br>
Also, <a href="https://glomble.com/videos/BOvMHmoWvRg">Glomble rewind 2024</a> is here! So go see if one of your videos made it to the top 10.<br>
<br>
That's about it for this month!  We were able to accomplish a lot of our major goals in a short amount of time, so we'll see what happens in the near future.  Christmas is coming up soon, so Merry Christmas!  And don't forget to share Glomble with friends and family!<br>
</p>