{% load i18n %}
{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Glomble.{% endblocktrans %}<br>

{% trans "Please go to the following page and choose a new password:" %}<br>
{% block reset_link %}
<a href="{{ reset_url }}">{{ reset_url }}</a><br>
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user }}<br>

{% trans "Thanks for using our site!" %}<br>

{% blocktrans %}Glomble{% endblocktrans %}
{% endautoescape %}