absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
azure-core==1.31.0
azure-identity==1.17.1
azure-storage-blob==12.22.0
ble-serial==2.8.0
bleak==0.22.2
Brotli==1.1.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
command-runner==1.6.0
crispy-bootstrap5==2024.2
cryptography==43.0.1
decorator==4.4.2
Django==5.1.1
django-allauth==64.2.1
django-crispy-forms==2.0
editdistance==0.8.1
eng_to_ipa==0.0.2
epitran==1.25
ffmpeg-python==0.2.0
filelock==3.15.4
flatbuffers==24.3.25
fsspec==2024.6.0
future==1.0.0
g2pK==0.9.4
gast==0.5.5
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
humanfriendly==10.0
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
intel-openmp==2021.4.0
isodate==0.6.1
jamo==0.4.1
Jinja2==3.1.4
joblib==1.4.2
JPype1==1.5.0
keras==3.4.1
keyboard==0.13.5
konlpy==0.6.0
libewf-python==20240506
lxml==5.2.2
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
mss==9.0.1
munkres==1.1.4
mutagen==1.47.0
namex==0.0.8
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pandas==2.2.2
panphon==0.20.0
pillow==10.4.0
portalocker==2.10.1
proglog==0.1.10
protobuf==4.25.3
psutil==6.0.0
psycopg2==2.9.9
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodomex==3.20.0
pydub==0.25.1
pyee==11.1.0
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.9.0
PyMsgBox==1.0.9
pyperclip==1.9.0
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
python-dateutil==2.9.0.post0
python-http-client==3.3.7
python-mecab-ko==1.3.5
python-mecab-ko-dic==2.1.1.post2
pytsk3==20231007
pytube==15.0.0
pytweening==1.2.0
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
resampy==0.4.3
rich==13.7.1
scipy==1.14.0
sendgrid==6.11.0
six==1.16.0
soundfile==0.12.1
SpeechRecognition==3.10.4
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
sympy==1.12.1
tbb==2021.13.0
termcolor==2.4.0
tqdm==4.66.4
tzdata==2024.1
unicodecsv==0.14.1
urllib3==2.2.2
websockets==12.0
Werkzeug==3.0.3
whitenoise==6.7.0
wrapt==1.16.0
python-magic-debian-bin==0.4.25