{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
	<div class="container" id="post-container" style="text-align:center">
		<br>
        <h2>Profile: {{ funding_profile.profile.username }}</h2>
		<br>
        <h5>Paypal Email: {{ funding_profile.paypal_email }} <a class="icon-color" href="{% url 'edit-funding-profile' %}"><ion-icon name="pencil-outline"></ion-icon></a></h5>
		<h5>Estimated income: €{{ estimated_income }}</h5>
		<h5>Next payout: {{ next_payout|naturaltime  }}</h5>
    </div>
	<br>
	<h3 class="text-center">Earnings per video:</h3>
	<p class="text-center">(Please note that this might not factor for all the revenue)</p>
	{% for object in ordered_videos %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative text-center">
				<h3 class="text-center">€{{ object.1 }}</h3>
                <a href="{% url 'video-detail' object.0.id %}"><img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.0.thumbnail }}" width="256" height="144"></a>
				<div class="card-body">
					<a class="link-text" href="{% url 'video-detail' object.0.id %}"><h6 class="text-center">{{ object.0.title }}{% if object.0.unlisted %} <div style='display: inline-block; vertical-align: top;' title="Unlisted"><i class="fa-solid fa-eye-slash"></i></div>{% endif %}</h6></a>
					<h6 class="text-muted text-center"><a class="link-text" href="{% url 'detail-profile' object.0.uploader.id %}">{{ object.0.uploader.username }}</a></h6>
					<h6 class="text-muted text-center">views: {{ object.0.views.count }}</h6>
					<h6 class="text-muted text-center">{{ object.0.date_posted | date:"d M, Y" }}</h6>
					<h6 class="text-muted text-center">{{ object.0.likes.all.count }} likes, {{ object.0.dislikes.all.count }} dislikes</h6>
				</div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}