{% extends 'videos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load count %}

{% block content %}
        <head>
		<meta property="og:title" content="{{ post.title }}">
		<meta property="og:type" content="video.other">
		<meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'video-detail' post.id %}">
		<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.thumbnail }}">
		<meta property="og:video" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.video_file }}">
		<meta property="og:video:type" content="video/mp4">
	</head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<div class="container" id="post-container">
		<div class="row mt-5">
					<video controls>
						<source src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.video_file }}" type="video/mp4">
					</video>
				  </div>
				<h5 class="mt-4">{{ post.title }}
					{% if not user.is_anonymous and post.uploader.username != user %}
					{% can_recommend request.user as recommend_available %}
					<button class="recommend-button {% if recommend_available %} btn btn-success {% else %}btn btn-danger {% endif %}" data-url="{% url 'video-recommend' post.id %}">
						{% if recommend_available %}
						<span>Recommend ({% recommendations_left request.user %})</span>
						{% else %}
						<span>Recommend (on cooldown)</span>
						{% endif %}
					</button>
					{% endif %}
					{% if post.uploader.username == user or request.user.is_superuser %}
						<a style="float: right;" class="btn btn-outline-danger" href="{% url 'video-delete' post.id %}">Delete</a>
						<a style="float: right;" class="btn btn-outline-primary" href="{% url 'video-update' post.id %}">Edit</a>
					{% endif %}
				</h5>
				<h6><a class="link-text" href="{% url 'detail-profile' post.uploader.id %}"><img class="rounded-circle" style="margin-right: 10px;" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.uploader.profile_picture }}">
					{{ post.uploader.username }} {% if post.uploader.username != user and request.user.is_authenticated %}
					<button class="follow-button {% if is_following %}following btn btn-outline-danger {% else %}btn btn-outline-success {% endif %}" data-url-add="{% url 'add-follower' post.uploader.id %}" data-url-remove="{% url 'remove-follower' post.uploader.id %}">
						{% if is_following %}
						<span>Following</span>
						{% else %}
						<span>Follow</span>
						{% endif %}
					</button>
					{% endif %}
				</a></h6>
				{% if has %}
				{% if desclen <= 50 %}
					<p>{{ post.description }}</p>
				{% else %}
					<p class="lmao">
						{{ pre }}<span id="dots">...</span><span id="more" style="display: none;">{{ readmore }}</span><button style="background-color: transparent; border: none; box-shadow: none;" onclick="showmore()" id="myBtn"><b><i>Read more</i></b></button>
					</p>
				{% endif %}
				{% endif %}
				<p>views: <span class="view-count" id="{{ post.id }}">{{ post.views.count }}</span></p>
				<p>recommendations: <span class="recommendation-count">{{ post.recommendations }}</span></p>
				<div class="row">
					<div class="col-md-6 text-muted">
						<p>{{ post.date_posted|naturaltime }}</p>
					</div>

					<div class="col-md-6 text-muted text-right">
						<a class="video-icons icon-color" href="{% url 'video-download' post.id %}"><i class="fas fa-download"></i></a>
						{% if post.uploader.username != request.user %}
						<a href="{% url 'video-report' post.id %}"><i class="fas fa-flag video-icons icon-color"></i></a>
						{% endif %}
					</div>
				</div>
		{% if request.user.is_authenticated %}
		<div class="row mt-3 mb-5 border-bottom">
			<button style="background-color: transparent; border: none; box-shadow: none;" class="like-button" data-url="{% url 'video-like' post.id %}">
				{% if request.user in post.likes.all %}
				<i class="fa fa-thumbs-up"><span class="like-count">{{ post.likes.all.count }}</span></i>
				{% else %}
				<i class="far fa-thumbs-up"><span class="dislike-count">{{ post.likes.all.count }}</span></i>
				{% endif %}
			</button>
			<button style="background-color: transparent; border: none; box-shadow: none;" class="dislike-button" data-url="{% url 'video-dislike' post.id %}">
				{% if request.user in post.dislikes.all %}
				<i class="fa fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
				{% else %}
				<i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
				{% endif %}
			</button>
		</div>
		{% else %}
		<div class="row mt-3 mb-5 border-bottom">
			<button style="background-color: transparent; border: none; box-shadow: none;">
				<i class="far fa-thumbs-up"><span class="dislike-count">{{ post.likes.all.count }}</span></i>
			</button>
			<button style="background-color: transparent; border: none; box-shadow: none;">
				<i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
			</button>
		</div>
		{% endif %}
		<div class="row justify-content-center">
			<button onclick="onClickRecommend(this);" class="btn btn-outline-success">Recommend more videos</button>
		</div>
		<br>
		<div style="display: none;" class="row justify-content-center" id="recommended-videos">
			{% get_recommended_videos post.category as recommended_videos %}
			{% for object in recommended_videos %}
			<div class="card mb-3 border-0" style="margin-right: 30px; margin-bottom: 30px; background-color: {{ object.uploader.customisation.background_color }};">
				<a href="{% url 'video-detail' object.id %}" class="position-relative" style="padding-top: 56.25%; overflow: hidden;">
					<img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.thumbnail }}" 
						 class="position-absolute w-100 h-100" 
						 style="top: 0; left: 0;">
				</a>
				<div class="card-body" style="{% if object.uploader.customisation.video_banner %} background-image: url({{ object.uploader.customisation.video_banner.url }}); {% endif %}">
					<a class="link-text" href="{% url 'video-detail' object.id %}"><h6 class="text-center outline shit">{{ object.title }}{% if object.unlisted %} <i title="Unlisted" class="fas fa-eye-slash"></i>{% endif %}</h6></a>
					<h6 class="outline text-center shit"><img class="rounded-circle" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.uploader.profile_picture }}"><a class="link-text" href="{% url 'detail-profile' object.uploader.id %}"> {{ object.uploader.username }}</a></h6>
					<h6 class="outline text-center">Views: {{ object.views.count }}</h6>
					<h6 class="outline text-center">Recommendations: {{ object.recommendations }}</h6>
					<h6 class="outline text-center">{{ object.date_posted|naturaltime }}</h6>
					<h6 class="outline text-center">{{ object.likes.all.count }} likes, {{ object.dislikes.all.count }} dislikes</h6>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center mt-3 mb-5">
			<div class="col-md-5 col-sm-12">
				<form method="POST">
					{% if request.user.is_authenticated %}
					{% csrf_token %}
					<legend class="border-bottom mb-4">{{ comment_amount }} Comments</legend>
					{{ form | crispy }}
					<input type="hidden" name="form_type" value="comment">
					<div class="d-grid gap-2">
						<button class="btn btn-success mt-3">Submit!</button>
					</div>
					{% else %}
					<legend class="border-bottom mb-4">{{ comment_amount }} Comments</legend>
					{% endif %}
				</form>
			</div>
		</div>
		{% for comment in comments %}
		<div class="row justify-content-center border-bottom">
			<div class="col-md-9">
				<p>
					<strong><a class="link-text" href="{% url 'detail-profile' comment.commenter.pk %}"><img class="rounded-circle" style="margin-right: 10px; margin-left: -35px" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ comment.commenter.profile_picture }}">{{ comment.commenter.username }}</a></strong> {{ comment.date_posted|naturaltime }}
					{% if request.user == comment.commenter.username or request.user.is_superuser %}
					<a class="btn btn-outline-primary" href="{% url 'comments:comment-update' comment.pk %}">Edit</a>
					<a class="btn btn-outline-danger" href="{% url 'comments:comment-delete' comment.pk %}">Delete</a>
					{% endif %}
					{% if request.user.is_authenticated %}
					<div class="row mt-3">
						<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-like-button" data-url="{% url 'comments:comment-like' comment.pk %}">
							{% if request.user in comment.likes.all %}
							<i class="fa fa-thumbs-up"><span class="comment-like-count" id="{{ comment.pk }}-like">{{ comment.likes.all.count }}</span></i>
							{% else %}
							<i class="far fa-thumbs-up"><span class="comment-dislike-count" id="{{ comment.pk }}-dislike">{{ comment.likes.all.count }}</span></i>
							{% endif %}
						</button>
						<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-dislike-button" data-url="{% url 'comments:comment-dislike' comment.pk %}">
							{% if request.user in comment.dislikes.all %}
							<i class="fa fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
							{% else %}
							<i class="far fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
							{% endif %}
						</button>
					</div>
					{% else %}
					<div class="row mt-3">
						<button style="background-color: transparent; border: none; box-shadow: none;">
							<i class="far fa-thumbs-up"><span class="dislike-count">{{ comment.likes.all.count }}</span></i>
						</button>
						<button style="background-color: transparent; border: none; box-shadow: none;">
							<i class="far fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
						</button>
					</div>
					{% endif %}
				</p>
				<p class="lmao">{{ comment.comment }}</p>
				<button id="{{ comment.id }}" onclick="onClick(this)" style="border: none; background-color: transparent;"><i class="far fa-comments"></i></button>

				<div class="reply" style="display: none;" id="reply{{ comment.id }}">
					<form method="POST">
						{% csrf_token %}
						<input type="hidden" name="form_type" value="reply">
						<input type="hidden" name="comment_id" value="{{comment.id}}">
						{{ replyform | crispy }}
						<div class="d-grid gap-2">
						<button class="btn btn-success mt-3">Submit!</button>
						</div>
					</form>
				</div>
				{% for reply in replies %}
				{% if reply.replying_to.id == comment.id %}
				<div class="row justify-content-center">
					<div class="col-md-9">
						<p>
							<strong><a class="link-text" href="{% url 'detail-profile' reply.commenter.pk %}"><img class="rounded-circle" style="margin-right: 10px; margin-left: -35px" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ reply.commenter.profile_picture }}">{{ reply.commenter.username }}</a></strong> {{ reply.date_posted|naturaltime }}
							{% if request.user == reply.commenter.username or request.user.is_superuser %}
							<a class="btn btn-outline-primary" href="{% url 'comments:comment-update' reply.pk %}">Edit</a>
							<a class="btn btn-outline-danger" href="{% url 'comments:comment-delete' reply.pk %}">Delete</a>
							{% endif %}
							{% if request.user.is_authenticated %}
							<div class="row mt-3">
								<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-like-button" data-url="{% url 'comments:comment-like' reply.pk %}">
									{% if request.user in reply.likes.all %}
									<i class="fa fa-thumbs-up"><span class="reply-like-count" id="{{ reply.pk }}-like">{{ reply.likes.all.count }}</span></i>
									{% else %}
									<i class="far fa-thumbs-up"><span class="reply-dislike-count" id="{{ reply.pk }}-dislike">{{ reply.likes.all.count }}</span></i>
									{% endif %}
								</button>
								<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-dislike-button" data-url="{% url 'comments:comment-dislike' reply.pk %}">
									{% if request.user in reply.dislikes.all %}
									<i class="fa fa-thumbs-down"><span>{{ reply.dislikes.all.count }}</span></i>
									{% else %}
									<i class="far fa-thumbs-down"><span>{{ reply.dislikes.all.count }}</span></i>
									{% endif %}
								</button>
							</div>
							{% else %}
							<div class="row mt-3">
								<button style="background-color: transparent; border: none; box-shadow: none;">
									<i class="far fa-thumbs-up"><span class="dislike-count">{{ reply.likes.all.count }}</span></i>
								</button>
								<button style="background-color: transparent; border: none; box-shadow: none;">
									<i class="far fa-thumbs-down"><span>{{ reply.dislikes.all.count }}</span></i>
								</button>
							</div>
							{% endif %}

							<p class="lmao">{{ reply.comment }}</p>
						</p>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<br>
		{% endfor %}
	</div>
	<script>
		function onClick(ele) {
			if (document.getElementById('reply'+ele.id).style.display === 'none') {
				document.getElementById('reply'+ele.id).style.display = 'block'
			}
			else {
				document.getElementById('reply'+ele.id).style.display = 'none'
			}
		}

		function onClickRecommend(ele) {
			if (document.getElementById('recommended-videos').style.display === 'none') {
				document.getElementById('recommended-videos').style.display = 'flex'
			}
		}
		
		function updateViewCount(videoId) {
			globalThis.viewed = false
			$.ajax({
				type: "GET",
				url: `${videoId}/update-view-count/`,
				success: function(data) {
					$(".view-count").text(data.view_count);
					globalThis.viewed = data.viewed;
				},
			});
		}

		function updateRecommendCount(videoId) {
			$.ajax({
				type: "GET",
				url: `${videoId}/update-recommendation-count/`,
				success: function(data) {
					$(".recommendation-count").text(data.recommendation_count);
				},
			});
		}

		$(document).ready(function() {
			var videoId = $(".view-count").attr('id');
			var interval = setInterval(function() {
				if (globalThis.viewed == true) clearInterval(interval);
				updateViewCount(videoId);
				updateRecommendCount(videoId);
			}, 1000);
			var interval2 = setInterval(function() {
				updateViewCount(videoId);
				updateRecommendCount(videoId);
			}, 20000);
		});
	</script>
{% endblock content %}
