{% extends 'videos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load count %}
{% load tz %}

{% block content %}

{% get_media_url as media_url %}

{% include 'videos/custom_profile_styling.html' %}
	<head>
		<meta property="og:title" content="{{ post.title }}">
		<meta property="og:type" content="video.other">
		<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% url 'video-detail' post.id %}">
		<meta property="og:image" content="{{media_url}}/{{ post.thumbnail }}">
		<meta property="og:video" content="{{media_url}}/{{ post.video_file }}">
		<meta property="og:video:type" content="video/mp4">
		<title>Glomble | "{{ post.title }}"</title>
	</head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<div class="cool-div" style="min-height: 100vh; padding-bottom: 10px;">
		<div class="container" id="post-container">
			<div class="row">
				<video class="mt-5 cool-video" src="{{media_url}}/{{ post.video_file }}" type="video/mp4" style="max-height:40vw;" controls autoplay></video>
			</div>
		</div>
       <div class="container cool-container" id="post-container" style="margin-top: 10px;">
			<h5 class="mt-4 format text-center" style="padding-top: 1.5%; padding-bottom: 1.5%;">{{ post.title }} {% if post.unlisted %}<i class='bx bx-ghost' title="Unlisted"></i>{% endif %}
				{% if not user.is_anonymous and post.uploader.username != user %}
				{% can_recommend post.id user as can %}
				{% endif %}
			</h5>
	   </div>
       <div class="container cool-container" id="post-container">
			<h6>
				<!-- USERNAME AND FOLLOW BUTTON, RECOMMEND AND LIKE BUTTONS -->
				<p style="margin-top: 10px; padding-top: 1.5%;">
					<!-- username and follow -->
					<a class="link-text cool-element" href="{% url 'detail-profile' post.uploader.id %}"><img class="rounded-circle" style="margin-right: 10px;" width="35" height="35" src="{{media_url}}/{{ post.uploader.profile_picture }}">
					{{ post.uploader.username }}
					</a>
					{% if post.uploader.username != user and request.user.is_authenticated %}
						<button class="follow-button {% if is_following %}following cool-element btn cool-element btn-outline-danger {% else %}cool-element btn cool-element btn-outline-success {% endif %}" style="margin-left: 10px;" data-url-add="{% url 'add-follower' post.uploader.id %}" data-url-remove="{% url 'remove-follower' post.uploader.id %}">
							{% if is_following %}
									<span>Unfollow</span>
							{% else %}
							<span>Follow</span>
							{% endif %}
						</button>
					{% endif %}
					<!-- recommend and such -->
					<button style="float: right; background-color: transparent; border: none; box-shadow: none;" class="dislike-button cool-element btn btn-outline-danger" data-url="{% url 'video-dislike' post.id %}">
						{% if request.user in post.dislikes.all %}
						<i class="bx bxs-dislike cool-element btn btn-outline-danger"><span>{{ post.dislikes.all.count }}</span></i>
						{% else %}
						<i class="bx bx-dislike cool-element btn btn-outline-danger"><span>{{ post.dislikes.all.count }}</span></i>
						{% endif %}
					</button>
					<button style="float: right; background-color: transparent; border: none; box-shadow: none;" class="like-button cool-element btn btn-outline-success" data-url="{% url 'video-like' post.id %}">
						{% if request.user in post.likes.all %}
						<i class="bx bxs-like cool-element btn btn-outline-success"><span class="like-count"> {{ post.likes.all.count }}</span></i>
						{% else %}
						<i class="bx bx-like cool-element btn btn-outline-success"><span class="dislike-count"> {{ post.likes.all.count }}</span></i>
						{% endif %}
					</button>
					<button style="float: right;" class="recommend-button cool-element btn {% if can %}btn-outline-success{% else %}btn-outline-danger{% endif %}" data-url="{% url 'video-recommend' post.id %}">
						<span>
							{% if can %}
							Recommend
							{% else %}
							Unrecommend
							{% endif %}
						</span>
					</button>
					{% if not user.is_anonymous and post.uploader.username != user %}
					{% video_nomination user as nomination %}
					{% now 'n' as month %}
					{% if month == '12' and can_nominate %}
						<button class="nominate-button btn {% if nomination == None %}btn-success{% elif nomination != post %}btn-warning{% else %}btn-danger{% endif %}" style="float: right; text-shadow: 0 0 5px #FFFF00, 0 0 5px #FFFF00, 0 0 5px #FFFF00; color: white" data-url="{% url 'video-nominate' post.id %}">
							<span>
								{% if nomination == None %}
								Nominate for video of the year
								{% elif nomination != post %}
								Replace current nomination
								{% else %}
								Remove nomination
								{% endif %}
							</span>
						</button>
					{% endif %}
					{% endif %}
				</p>
				<!-- DESCRIPTION BOX -->
				{% if has %}
					<div class="lmao format" style="padding-top: 1.5%;">
						{% if desclen <= 250 %}
						<p>
							{% autoescape off %}
							{{ post.description|linebreaksbr }}
							{% endautoescape %}
						</p>
						{% else %}
						<p>
							{{ pre|linebreaksbr }}<span id="dots">...</span><span id="more" style="display: none;">{{ readmore|linebreaksbr }}</span><button class="cool-element" style="background-color: transparent; border: none; box-shadow: none;" onclick="showmore()" id="myBtn"><b><i>Read more</i></b></button>
						</p>
						{% endif %}
					</div>
				{% endif %}
				<!-- VIDEO INFO -->
				<p>
					Views: <span class="view-count" id="{{ post.id }}">{{ post.views.count }}</span><br>
					Score: <span id="score">{{ post.score }}</span><br>
					Category: <span>{{ post.category }}</span>
				</p>
				<p title="{{ post.date_posted }} (UTC)">{{ post.date_posted|naturaltime }}</p>
					{% if request.user.is_authenticated %}
					<!-- BOTTOM ROW OF BUTTONS (DOWNLOAD AND REPORT) -->
					<div class="row mt-3 mb-4">
						<div class="col-md-6">
							<a class="video-icons icon-color" href="{% url 'video-download' post.id %}"><i class='bx bxs-download cool-element' ></i></a>
							{% if post.uploader.username != request.user %}
							<a class="video-icons icon-color" href="{% url 'video-report' post.id %}"><i class='bx bxs-flag-alt cool-element' ></i></a>
							{% endif %}
						</div>
					</div>
					<!-- DELETE AND EDIT BUTTONS -->
					{% if post.uploader.username == user or request.user.is_superuser %}
					<a class="cool-element btn cool-element btn-outline-primary" href="{% url 'video-update' post.id %}">Edit</a>
						<a class="cool-element btn cool-element btn-outline-danger" href="{% url 'video-delete' post.id %}">Delete</a>
					{% endif %}
				{% endif %}

				<div class="row mt-3 mb-5 border-bottom"></div>

				<!--  recommendation space -->
				<div class="row justify-content-center">
					<button onclick="onClickRecommend(this);" class="cool-element btn cool-element btn-outline-success">Similar Videos</button>
				</div>
				<br>
				<div style="display: none;" class="row justify-content-center" id="recommended-videos"></div>

				<div class="row mt-3 mb-5 border-top"></div>

				<!-- COMMENT SECTION -->
				<div class="row justify-content-center mt-3 mb-5">
					<div class="col-md-5 col-sm-12 text-center">
						<form id="comment-form" method="POST">
							{% if request.user.is_authenticated %}
							<legend id="cool" class="mb-4">{{ comment_amount }} Comments</legend>
							{% csrf_token %}
							{{ form | crispy }}
							<input type="hidden" name="form_type" value="comment">
							<div class="d-grid gap-2">
								<button type="submit" class="cool-element btn cool-element btn-success mt-3">Submit!</button>
							</div>
							{% else %}
							<legend class="mb-4">{{ comment_amount }} Comments</legend>
							{% endif %}
						</form>
					</div>
				</div>
				<div id="comments" class="justify-content-center">
					{% include 'videos/comment.html' %}
				</div>
			</h6>
			<br>
		</div>
	</div>
<div id="notification" class="text-center" style="position: sticky; bottom: 0px; background-color: #c51717; z-index: 2;"></div>
	<script>
		function onClick(ele) {
			if (document.getElementById('reply'+ele.id).style.display === 'none') {
				document.getElementById('reply'+ele.id).style.display = 'block'
			}
			else {
				document.getElementById('reply'+ele.id).style.display = 'none'
			}
		}

        function updateViewCount(videoId) {
			globalThis.viewed = false
			$.ajax({
				type: "GET",
				url: `${videoId}/update-view-count/`,
				success: function(data) {
					$(".view-count").text(data.view_count);
					globalThis.viewed = data.viewed;
				},
			});
		}

		function onClickRecommend(ele) {
			const container = document.getElementById('recommended-videos');
			if (container.style.display === 'none') {
				container.style.display = 'flex';
			}
			$.ajax({
				type: "GET",
				url: `get-recommendations/{{ post.category }}`,
				success: function(data) {
					container.innerHTML = data.html;
				},
				error: function(xhr, status, error) {
					console.error("Error fetching recommendations.");
				}
			});
		}

		function onShowReplies(ele) {
			let id_thing = ele.id.split('-')[0]
			if (document.getElementById('replies'+id_thing).style.display === 'none') {
				document.getElementById('replies'+id_thing).style.display = 'block'
				ele.innerHTML = "Hide"
                ele.innerHTML += Number(ele.id.split('-')[1]) == 1 ? " reply" : " replies"
			}
			else {
				document.getElementById('replies'+id_thing).style.display = 'none'
				ele.innerHTML = "Show " + ele.id.split('-')[1]
                ele.innerHTML += Number(ele.id.split('-')[1]) == 1 ? " reply" : " replies" 
			}
		}

		function handleReplyForms() {
			const replyForms = document.querySelectorAll(".reply-form");
			globalThis.timer = 0;

			replyForms.forEach((form) => {
				form.addEventListener("submit", function (e) {
					e.preventDefault();
					const formData = new FormData(form);

					fetch(form.action, {
						method: "POST",
						headers: {
							"X-Requested-With": "XMLHttpRequest",
						},
						body: formData,
					})
						.then((response) => response.json())
						.then((data) => handleResponse(data, form));
				});
			});
		}

		$(document).ready(function() {
			const video = $("video")[0];
			const videoId = "{{ post.id }}";
			const progressKey = "video-progress-" + videoId;
			const volumeKey = "video-volume";

			handleReplyForms();

			$(document).on('click', '.timestamp', function(e) {
				e.preventDefault()
				
				$('html, body').animate({
					scrollTop: 0
				}, 500)
				const seconds = $(this).data('seconds')
				video.currentTime = seconds
				video.play()
			})

			if (localStorage.getItem(volumeKey)) {
				video.volume = parseFloat(localStorage.getItem(volumeKey));
			}

			if (localStorage.getItem(progressKey)) {
				video.currentTime = parseFloat(localStorage.getItem(progressKey));
			}

			video.addEventListener('volumechange', function() {
				localStorage.setItem(volumeKey, video.volume);
			});

			video.addEventListener('timeupdate', function() {
				localStorage.setItem(progressKey, video.currentTime);
			});

			video.addEventListener('ended', function() {
				localStorage.removeItem(progressKey);
			});
			
			function expandParentReplies($comment) {
				const parentContainers = $comment.parents('.reply-container');
				parentContainers.each(function() {
					if ($(this).is(":hidden")) {
						$(this).show();
					}
				});
			}

			function highlightComment(id) {
				const $comment = $(".comment-" + id);
				if ($comment.length) {
					expandParentReplies($comment);

					$('html, body').animate({
						scrollTop: $comment.offset().top - 100
					}, 500, function() {
						$comment.addClass('highlight');
						setTimeout(function() {
							$comment.removeClass('highlight');
						}, 1000);
					});
				}
			}

			const hash = window.location.hash;
			if (hash.startsWith("#comment=")) {
				const commentId = hash.split("=")[1];
				highlightComment(commentId);
			}

			const commentForm = document.getElementById("comment-form");
			globalThis.timer = 0;

			if (commentForm) {
				commentForm.addEventListener("submit", function (e) {
					e.preventDefault();
					const formData = new FormData(commentForm);

					fetch(commentForm.action, {
						method: "POST",
						headers: {
							"X-Requested-With": "XMLHttpRequest",
						},
						body: formData,
					})
						.then((response) => response.json())
						.then((data) => handleResponse(data, commentForm));
				});
			}

			var interval = setInterval(function() {
				if (globalThis.viewed == true) clearInterval(interval);
				updateViewCount(videoId);
			}, 1000);
			var interval2 = setInterval(function() {
				updateViewCount(videoId);
			}, 20000);
		});

		function handleResponse(data, form) {
			clearTimeout(globalThis.timer);
			const notification = document.getElementById("notification");
			const commentCount = document.getElementById("cool");
			const comments = document.getElementById("comments");

			if (!data.success) {
				notification.innerHTML = "Comment failed to post due to cooldown.";
				notification.style.backgroundColor = "#c51717";

				globalThis.timer = setTimeout(() => {
					notification.innerHTML = "";
				}, 2000);

				return;
			}

			notification.innerHTML = "Comment added!";
			notification.style.backgroundColor = "#32cd32";
			form.reset();

			globalThis.timer = setTimeout(() => {
					notification.innerHTML = "";
			}, 2000);

			commentCount.innerHTML = data.count + " Comments";

			comments.innerHTML = data.comments;

			handleReplyForms();
		}

		function showmore() {
            var dots = document.getElementById("dots")
            var moreText = document.getElementById("more")
            var btnText = document.getElementById("myBtn")

            if (dots.style.display === "none") {
                dots.style.display = "inline"
                btnText.innerHTML = "Read more".bold().italics()
                moreText.style.display = "none"
            } else {
                dots.style.display = "none"
                btnText.innerHTML = "Read less".bold().italics()
                moreText.style.display = "inline"
            }
        }
	</script>
</div>
	{% endblock content %}
