{% extends 'videos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% if request.user.is_authenticated %}
		<div style="position:absolute;right:-30%;width:60%;height:100px;">
			{% for object in recommended %}
        			<div class="card col-md-3 col-sm-12 mr-md-2 mt-5 p-3 border-0" style="background-color: rgb(200, 200, 200);">
       	    				<a href="{% url 'video-detail' object.id %}" style="width: 100%; overflow: hidden; margin: 0; padding-top: 56.25%; position: relative;"><img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.thumbnail }}" style="position: absolute; top: 50%; left: 50%; width: 100%; height:100%; transform: translate(-50%, -50%);"></a>
            				<div class="card-body">
                				<a class="link-text" href="{% url 'video-detail' object.id %}"><h6 class="text-center shit">{{ object.title }}{% if object.unlisted %} <div style='display: inline-block; vertical-align: top;' title="Unlisted"><i class="fa-solid fa-eye-slash"></i></div>{% endif %}</h6></a>
                				<h6 class="text-muted text-center shit"><a class="link-text" href="{% url 'detail-profile' object.uploader.id %}"><img class="shot" style="margin-right: 10px; margin-left: -35px" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.uploader.profile_picture }}">{{ object.uploader.username }}</a></h6>
				                <h6 class="text-muted text-center">views: {{ object.views.count }}</h6>
				                <h6 class="text-muted text-center">{{ object.date_posted|naturaltime }}</h6>
				                <h6 class="text-muted text-center">{{ object.likes.all.count }} likes, {{ object.dislikes.all.count }} dislikes</h6>
				        </div>
        			</div>
        		{% endfor %}
		</div>
        {% endif %}
	<div class="container" id="post-container">
		<div class="row mt-5">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="video-container paused" data-volume-level="high">
					<div class="video-controls-container">
					  <div class="timeline-container">
						<div class="timeline">
						  <img class="preview-img">
						  <div class="thumb-indicator"></div>
						</div>
					  </div>
					  <div class="controls">
						<button class="play-pause-btn">
						  <svg class="play-icon" viewBox="0 0 24 24">
							<path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
						  </svg>
						  <svg class="pause-icon" viewBox="0 0 24 24">
							<path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
						  </svg>
						</button>
						<div class="volume-container">
						  <button class="mute-btn">
							<svg class="volume-high-icon" viewBox="0 0 24 24">
							  <path fill="currentColor" d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z" />
							</svg>
							<svg class="volume-low-icon" viewBox="0 0 24 24">
							  <path fill="currentColor" d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z" />
							</svg>
							<svg class="volume-muted-icon" viewBox="0 0 24 24">
							  <path fill="currentColor" d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z" />
							</svg>
						  </button>
						  <input class="volume-slider" type="range" min="0" max="1" step="any" value="1">
						</div>
						<div class="duration-container">
						  <div class="current-time">0:00</div>
						  /
						  <div class="total-time"></div>
						</div>
						<button class="captions-btn">
						  <svg viewBox="0 0 24 24">
							<path fill="currentColor" d="M18,11H16.5V10.5H14.5V13.5H16.5V13H18V14A1,1 0 0,1 17,15H14A1,1 0 0,1 13,14V10A1,1 0 0,1 14,9H17A1,1 0 0,1 18,10M11,11H9.5V10.5H7.5V13.5H9.5V13H11V14A1,1 0 0,1 10,15H7A1,1 0 0,1 6,14V10A1,1 0 0,1 7,9H10A1,1 0 0,1 11,10M19,4H5C3.89,4 3,4.89 3,6V18A2,2 0 0,0 5,20H19A2,2 0 0,0 21,18V6C21,4.89 20.1,4 19,4Z" />
						  </svg>
						</button>
						<button class="speed-btn wide-btn">
						  1x
						</button>
						<button class="mini-player-btn">
						  <svg viewBox="0 0 24 24">
							<path fill="currentColor" d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"/>
						  </svg>
						</button>
						<button class="theater-btn">
						  <svg class="wide" viewBox="0 0 24 24">
							<path fill="currentColor" d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"/>
						  </svg>
						  <svg class="tall" viewBox="0 0 24 24">
							<path fill="currentColor" d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"/>
						  </svg>
						</button>
						<button class="full-screen-btn">
						  <svg class="open" viewBox="0 0 24 24">
							<path fill="currentColor" d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
						  </svg>
						  <svg class="close" viewBox="0 0 24 24">
							<path fill="currentColor" d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
						  </svg>
						</button>
					  </div>
					</div>
					<video>
						<source src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.video_file }}" type="video/mp4">
						<track kind="captions" srclang="en" src="{% static 'videos/bungle.vtt' %}">
					</video>
				  </div>
				<h5 class="mt-4">{{ post.title }}</h5>
				<h6><a class="link-text" href="{% url 'detail-profile' post.uploader.id %}"><img class="shot" style="margin-right: 10px;" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.uploader.profile_picture }}">
					{{ post.uploader.username }} {% if post.uploader.username != user %}<button class="follow-button {% if is_following %}following btn btn-outline-danger {% else %}btn btn-outline-success {% endif %}" data-url-add="{% url 'add-follower' post.uploader.id %}" data-url-remove="{% url 'remove-follower' post.uploader.id %}">
						{% if is_following %}
						<span>Following</span>
						{% else %}
						<span>Follow</span>
						{% endif %}
					</button>
					{% endif %}
				</a></h6>
				{% if has %}
				{% if desclen <= 50 %}
					<p>{{ post.description }}</p>
				{% else %}
					<p class="lmao">
						{{ pre }}<span id="dots">...</span><span id="more" style="display: none;">{{ readmore }}</span><button style="background-color: transparent; border: none; box-shadow: none;" onclick="showmore()" id="myBtn"><b><i>Read more</i></b></button>
					</p>
				{% endif %}
				{% endif %}
				<p>views: <span class="view-count" id="{{ post.id }}">{{ post.views.count }}</span></p>
				<div class="row">
					<div class="col-md-6 text-muted">
						<p>{{ post.date_posted|naturaltime }}</p>
					</div>

					<div class="col-md-6 text-muted text-right">
						<ion-icon class="video-icons" name="share-social-outline" type="button" data-toggle="modal" data-target="#exampleModal">
                        Share
                    </ion-icon>

                    <!-- Modal -->
                    {% if post.uploader.id != 5 %}
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Share This Video!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
									<div title="I do not know how to make these buttons work">
										<ion-icon class="social-share-icons twitter-social-color" name="logo-twitter" data-sharer="twitter" data-title="Check out {{ post.title }}!" data-hashtags="" data-url="{% url 'video-detail' post.id %}">Share on Twitter</ion-icon>
										<ion-icon class="social-share-icons facebook-social-color" name="logo-facebook" data-sharer="facebook" data-title="Check out {{ post.title }} by {{ post.uploader }}!" data-hashtags="" data-url="{% url 'video-detail' post.id %}">Share on Facebook</ion-icon>
										<ion-icon class="social-share-icons reddit-social-color" name="logo-reddit" data-sharer="reddit" data-title="Check out {{ post.title }} by {{ post.uploader }}!" data-hashtags="" data-url="{% url 'video-detail' post.id %}">Share on Reddit</ion-icon>
									</div>
                                    <p class="mt-3"><a href="{% url 'video-detail' post.id %}">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ post.id }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {% endif %}
					<a class="video-icons icon-color" href="{% url 'video-download' post.id %}"><i class="fas fa-download"></i></a>
					{% if post.uploader.username != request.user %}
					<a href="{% url 'video-report' post.id %}"><i class="fa-solid fa-flag video-icons icon-color"></i></a>
					{% endif %}
			</div>
		</div>
		{% if request.user.is_authenticated %}
		<div class="row mt-3 mb-5 border-bottom">
			<button style="background-color: transparent; border: none; box-shadow: none;" class="like-button" data-url="{% url 'video-like' post.id %}">
				{% if request.user in post.likes.all %}
				<i class="fa fa-thumbs-up"><span class="like-count">{{ post.likes.all.count }}</span></i>
				{% else %}
				<i class="far fa-thumbs-up"><span class="dislike-count">{{ post.likes.all.count }}</span></i>
				{% endif %}
			</button>
			<button style="background-color: transparent; border: none; box-shadow: none;" class="dislike-button" data-url="{% url 'video-dislike' post.id %}">
				{% if request.user in post.dislikes.all %}
				<i class="fa fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
				{% else %}
				<i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
				{% endif %}
			</button>
		</div>
		{% else %}
		<div class="row mt-3 mb-5 border-bottom">
			<button style="background-color: transparent; border: none; box-shadow: none;">
				<i class="far fa-thumbs-up"><span class="dislike-count">{{ post.likes.all.count }}</span></i>
			</button>
			<button style="background-color: transparent; border: none; box-shadow: none;">
				<i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
			</button>
		</div>
		{% endif %}
		{% if post.uploader.username == user or request.user.is_superuser %}
			<a class="video-icons icon-color" href="{% url 'video-update' post.id %}"><ion-icon name="pencil-outline"></ion-icon></a>
			<a class="video-icons icon-color" href="{% url 'video-delete' post.id %}"><ion-icon name="close-outline"></ion-icon></a>
		{% endif %}
		<div class="row justify-content-center mt-3 mb-5">
			<div class="col-md-5 col-sm-12">
				<form method="POST">
					{% if request.user.is_authenticated %}
					{% csrf_token %}
					<legend class="border-bottom mb-4">{{ comment_amount }} Comments</legend>
					{{ form | crispy }}
					<div class="d-grid gap-2">
						<button class="btn btn-success mt-3">Submit!</button>
					</div>
					{% else %}
					<legend class="border-bottom mb-4">{{ comment_amount }} Comments</legend>
					{% endif %}
				</form>
			</div>
		</div>
		{% for comment in comments %}
		<div class="row justify-content-center mt-3 mb-5 border-bottom">
			<div class="col-md-6 col-sm-12">
				<p>
					<strong><a class="link-text" href="{% url 'detail-profile' comment.commenter.pk %}"><img class="shot" style="margin-right: 10px; margin-left: -35px" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ comment.commenter.profile_picture }}">{{ comment.commenter.username }}</a></strong> {{ comment.date_posted|naturaltime }}
					{% if request.user == comment.commenter.username or request.user.is_superuser %}
					<a href="{% url 'comments:comment-delete' comment.pk %}" style="color: #333;"><ion-icon name="close-outline"></ion-icon></a>
					{% endif %}
					{% if request.user.is_authenticated %}
					<div class="row mt-3">
						<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-like-button" data-url="{% url 'comments:comment-like' comment.pk %}">
							{% if request.user in comment.likes.all %}
							<i class="fa fa-thumbs-up"><span class="comment-like-count" id="{{ comment.pk }}-like">{{ comment.likes.all.count }}</span></i>
							{% else %}
							<i class="far fa-thumbs-up"><span class="comment-dislike-count" id="{{ comment.pk }}-dislike">{{ comment.likes.all.count }}</span></i>
							{% endif %}
						</button>
						<button style="background-color: transparent; border: none; box-shadow: none;" class="comment-dislike-button" data-url="{% url 'comments:comment-dislike' comment.pk %}">
							{% if request.user in comment.dislikes.all %}
							<i class="fa fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
							{% else %}
							<i class="far fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
							{% endif %}
						</button>
					</div>
					{% else %}
					<div class="row mt-3">
						<button style="background-color: transparent; border: none; box-shadow: none;">
							<i class="far fa-thumbs-up"><span class="dislike-count">{{ comment.likes.all.count }}</span></i>
						</button>
						<button style="background-color: transparent; border: none; box-shadow: none;">
							<i class="far fa-thumbs-down"><span>{{ comment.dislikes.all.count }}</span></i>
						</button>
					</div>
					{% endif %}
				</p>
				<p class="lmao">{{ comment.comment }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<script>
		function updateViewCount(videoId) {
			globalThis.viewed = false
			$.ajax({
				type: "GET",
				url: `${videoId}/update-view-count/`,
				success: function(data) {
					$(".view-count").text(data.view_count);
					globalThis.viewed = data.viewed;
				},
				error: function(error) {
					console.error("Failed to update view count: " + error);
				}
			});
		}

		$(document).ready(function() {
			var videoId = $(".view-count").attr('id');
			var interval = setInterval(function() {
				if (globalThis.viewed == true) clearInterval(interval);
				updateViewCount(videoId);
			}, 750);
			var interval2 = setInterval(function() {
				updateViewCount(videoId);
			}, 20000);
		});
	</script>
{% endblock content %}
