{% extends 'videos/base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="width:150%; margin-left: -25%;">
        <div class="mt-5 ml-5 mb-3">
            <form method="get">
                <label for="sort-by">Sort by:</label>
                <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                    <option value="recommended"{% if sort_by == 'recommended' %} selected{% else %} selected="selected"{% endif %}>Most Recommended</option>
                    <option value="likes"{% if sort_by == 'likes' %} selected{% endif %}>Most Liked</option>
                    <option value="views"{% if sort_by == 'views' %} selected{% endif %}>Most Popular</option>
                    <option value="newest"{% if sort_by == 'newest' %} selected{% endif %}>Newest First</option>
                    <option value="oldest"{% if sort_by == 'oldest' %} selected{% endif %}>Oldest First</option>
                </select>
                <br>
                <label for="category">Category:</label>
                <select name="category" id="category" onchange="this.form.submit()">
                    <option value="all"{% if category == 'all' %} selected{% else %} selected="selected"{% endif %}>All</option>
                    <option value="entertainment"{% if category == 'entertainment' %} selected{% endif %}>Entertainment</option>
                    <option value="memes"{% if category == 'memes' %} selected{% endif %}>Memes</option>
                    <option value="gaming"{% if category == 'gaming' %} selected{% endif %}>Gaming</option>
                    <option value="education"{% if category == 'education' %} selected{% endif %}>Education</option>
                    <option value="animation"{% if category == 'animation' %} selected{% endif %}>Animation</option>
                    <option value="music"{% if category == 'music' %} selected{% endif %}>Music</option>
                    <option value="discussion"{% if category == 'discussion' %} selected{% endif %}>Discussion</option>
                    <option value="miscellaneous"{% if category == 'miscellaneous' %} selected{% endif %}>Miscellaneous</option>
                </select>
            </form>
        </div>
        {% for object in object_list %}
        <div class="card mb-3 border-0" style="margin-right: 30px; margin-bottom: 30px; background-color:black;">
            <a href="{% url 'video-detail' object.id %}" class="position-relative" style="padding-top: 56.25%; overflow: hidden;">
                <div style="background-color:black;width:100%">
			<img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.thumbnail }}" 
	                     class="position-absolute w-100 h-100" 
	                     style="top:0;left:0;object-fit: contain;">
		</div>
	    </a>
            <div class="card-body" style="{% if object.uploader.customisation.text_shadow_color %}text-shadow: 0 0 5px {{ object.uploader.customisation.text_shadow_color }}, 0 0 5px {{ object.uploader.customisation.text_shadow_color }}, 0 0 5px {{ object.uploader.customisation.text_shadow_color }}, 0 0 5px {{ object.uploader.customisation.text_shadow_color }};{% else %}text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;{% endif %} {% if object.uploader.customisation.video_banner %} background-image: url({{ object.uploader.customisation.video_banner.url }}); {% endif %}{% if object.uploader.customisation.background_color %}background-color: {{ object.uploader.customisation.background_color }};{% else %}background-color: white;{% endif %} {% if object.uploader.customisation.text_color %}color: {{ object.uploader.customisation.text_color }};{% else %}color: #000000;{% endif %}">
                <a style="{% if object.uploader.customisation.text_color %}color: {{ object.uploader.customisation.text_color }};{% endif %}" class="link-text" href="{% url 'video-detail' object.id %}"><h6 class="text-center shit">{{ object.title }}{% if object.unlisted %} <i title="Unlisted" class="fas fa-eye-slash"></i>{% endif %}</h6></a>
                <h6 class="text-center shit"><img class="rounded-circle" width="35" height="35" src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.uploader.profile_picture }}"><a class="link-text" style="{% if object.uploader.customisation.text_color %}color: {{ object.uploader.customisation.text_color }};{% endif %}" href="{% url 'detail-profile' object.uploader.id %}">{{ object.uploader.username }}</a></h6>
                <h6 class="text-center">Views: {{ object.views.count }}</h6>
                <h6 class="text-center">Recommendations: {{ object.recommendations }}</h6>
                <h6 class="text-center">{{ object.date_posted|naturaltime }}</h6>
                <h6 class="text-center">{{ object.likes.all.count }} likes, {{ object.dislikes.all.count }} dislikes</h6>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Previous</a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}{% if category %}&category={{ category }}{% endif %}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}{% if category %}&category={{ category }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
