{% extends 'videos/base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="width:150%; margin-left: -25%;">
        <div class="col-md-3 col-sm-12 mt-5 mb-3">
            <form method="get">
                <label for="sort-by">Sort by:</label>
                <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                    {% if recommend %}
                    <option value="recommended"{% if sort_by == 'recommended' %} selected{% else %} selected="selected"{% endif %}>Recommended</option>
                    <option value="likes-desc"{% if sort_by == 'likes-desc' %} selected{% endif %}>Most Liked</option>
                    {% else %}
                    <option value="likes-desc"{% if sort_by == 'likes-desc' %} selected{% else %} selected="selected"{% endif %}>Most Liked</option>
                    {% endif %}
                    <option value="views-desc"{% if sort_by == 'views-desc' %} selected{% endif %}>Most Popular</option>
                    <option value="date-desc"{% if sort_by == 'date-desc' %} selected{% endif %}>Newest First</option>
                    <option value="date-asc"{% if sort_by == 'date-asc' %} selected{% endif %}>Oldest First</option>
                </select>
            </form>
            
        </div>
        {% for object in object_list %}
        <div class="card col-md-2 col-sm-12 mr-md-1 mt-5 p-3 border-0">
            <a href="{% url 'video-detail' object.id %}"><img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/{{ object.thumbnail }}" width="256" height="144"></a>
            <div class="card-body">
                <a class="link-text" href="{% url 'video-detail' object.id %}"><h6 class="text-center shit">{{ object.title }}{% if object.unlisted %} <div style='display: inline-block; vertical-align: top;' title="Unlisted"><i class="fa-solid fa-eye-slash"></i></div>{% endif %}</h6></a>
                <h6 class="text-muted text-center shit"><a class="link-text" href="{% url 'detail-profile' object.uploader.id %}">{{ object.uploader.username }}</a></h6>
                <h6 class="text-muted text-center">views: {{ object.views.count }}</h6>
                <h6 class="text-muted text-center">{{ object.date_posted|naturaltime }}</h6>
                <h6 class="text-muted text-center">{{ object.likes.all.count }} likes, {{ object.dislikes.all.count }} dislikes</h6>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">Previous</a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort-by={{ sort_by }}{% endif %}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
