{% extends 'videos/base.html' %}
{% block content %}
    <title>Glomble | Related links</title>
	<div class="container" id="post-container" style="text-align:center">
        <br>
        <h3>Here are some links you may find useful!</h3>
        <br>
        <h2><a class="gay-text" href="{% url 'tos' %}">Glomble TOS</a></h2>
        <br>
        <h2><a class="gay-text" href="https://github.com/404talentnotfound/Glomble">Glomble Source Code</a></h2>
        <br>
        <h2><a class="gay-text" href="https://discord.com/invite/cUymEnaqzc">Official Glomble Discord server</a></h2>
        <br>
        <h2><a class="gay-text" href="https://www.reddit.com/r/Glomble/">Official Glomble subreddit</a></h2>
        <br>
        <br>
        <h2>Feeling generous? Your donations run Glomble!</h2>
        <br>
        <h2><a class="🤑" href="https://www.patreon.com/c/glomble">Glomble Patreon</a></h2>
        <br>
        <h2><a class="🤑" href="https://ko-fi.com/glomble">Glomble Ko-Fi</a></h2>
        <br>
    </div>
{% endblock content %}
