{% extends 'videos/base.html' %}
{% load count %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container">
    <h1 class="border-bottom text-center" style="width: 20em; margin-left: 3em; margin-top: 0.5em;">Your notifications</h1>
    <div class="col-md-3 col-sm-12 mt-5 mb-3">
        <form method="get">
            <label for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" onchange="this.form.submit()">
                <option value="date-desc"{% if sort_by == 'date-desc' %} selected{% else %} selected="selected"{% endif %}>Newest First</option>
                <option value="date-asc"{% if sort_by == 'date-asc' %} selected{% endif %}>Oldest First</option>
            </select>
        </form>
    </div>
        {% for object in object_list %}
        {% notification_type object as type %}
        {% if type != 0 %}
            <div class="row border-bottom mt-3">
                {% if not object.read %}
                <img src="https://media.glomble.com/notif.png" width="32" height="32">
                {% endif %}
                {% if type == 1 %}
                    <h4><a style="text-decoration: none;" class="link-text" href="{% url 'detail-profile' object.comment_notification.comment.commenter.id %}">
                        <img class="circular_image" src="https://media.glomble.com/{{ object.comment_notification.comment.commenter.profile_picture }}">
                    </a>{{ object.comment_notification.comment.commenter.username }} {{ object.comment_notification.message }}</h4>
                    <div class="col-md-3 col-sm-12">
                        <a href="{% url 'video-detail' object.comment_notification.comment.post.id %}#comment={{ object.comment_notification.comment.pk }}"><img style="display:block; margin:auto;" src="https://media.glomble.com/{{ object.comment_notification.comment.post.thumbnail }}" width="128" height="72"></a>
                        <div class="card-body">
                            <a class="link-text" href="{% url 'video-detail' object.comment_notification.comment.post.id %}"><h6 class="text-center shit">{{ object.comment_notification.comment.post.title }}</h6></a>
                            <h6 class="text-muted text-center">{{ object.comment_notification.comment.date_posted|naturaltime }}</h6>
                        </div>
                    </div>
                {% elif type == 2 %}
                    <h4><img class="circular_image" src="{% static 'videos/favicon.ico' %}">Glomble <i class='bx bxs-check-circle' ></i>: {{ object.update_notification.message }}</h4>
                    <h6 class="text-muted text-center">{{ object.date_notified|naturaltime }}</h6>
                {% elif type == 3 %}
                    <h4><a style="text-decoration: none;" class="link-text" href="{% url 'detail-profile' object.video_notification.video.uploader.id %}">
                        <img class="circular_image" src="https://media.glomble.com/{{ object.video_notification.video.uploader.profile_picture }}">
                    </a>{{ object.video_notification.video.uploader.username }}: {{ object.video_notification.message }}</h4>
                    <div class="col-md-3 col-sm-12">
                        <a href="{% url 'video-detail' object.video_notification.video.id %}"><img style="display:block; margin:auto;" src="https://media.glomble.com/{{ object.video_notification.video.thumbnail }}" width="128" height="72"></a>
                        <div class="card-body">
                            <a class="link-text" href="{% url 'video-detail' object.video_notification.video.id %}"><h6 class="text-center shit">{{ object.video_notification.video.title }}</h6></a>
                            <h6 class="text-muted text-center">{{ object.video_notification.video.date_posted|naturaltime }}</h6>
                        </div>
                    </div>
                {% elif type == 4 %}
                    <h4><img class="circular_image" src="{% static 'videos/favicon.ico' %}">Glomble <i class='bx bxs-check-circle' ></i>: {{ object.milestone_notification.message }}</h4>
                    {% if object.milestone_notification.video != None %}
                    <div class="col-md-3 col-sm-12">
                        <a href="{% url 'video-detail' object.milestone_notification.video.id %}"><img style="display:block; margin:auto;" src="https://media.glomble.com/{{ object.milestone_notification.video.thumbnail }}" width="128" height="72"></a>
                        <div class="card-body">
                            <a class="link-text" href="{% url 'video-detail' object.milestone_notification.video.id %}"><h6 class="text-center shit">{{ object.milestone_notification.video.title }}</h6></a>
                            <h6 class="text-muted text-center">{{ object.milestone_notification.video.date_posted|naturaltime }}</h6>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    {% if is_paginated %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="Pagination">  
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">back</a>
                    </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">back</span>
                        </li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                    </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">next</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
